<h3>Chuck Norris</h3>

<a href="http://localhost:4200/rock" {{action "logClick" preventDefault=false}}>Go</a>


<h1 class= 'cool' ><button {{action "getJoke"}}> Learn about Chuck </button></h1>
{{#if gotJoke}}
	<b >{{joke}}</b>
{{/if}}



{{yield}}